.page {
    border: 1px solid red;
    marging: 0 auto;
    width: 960px;
}

.masthead {
    position: relative;
}

.social-site {
    display: inline-block;
}

.social-site li {
    display: inline-block;
}

.masthead .social-site {
    position: absolute;
    top: 41px;
    right: 0;
}

.container {
    /*border: 1px solid red;*/
    background: url(img/bg.jpg) repeat-y 629px 0;
    padding-bottom: 1.9375em;
    overflow: hidden;
}

main {
    width: 600px;  /* 62.5%=600px/960px */
    margin-bottom: 10px;
    float: left;
}

h1 {
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: .975;
    margin-bottom: 10px;
}

.sidebar {
    width: 300px;
    float: right;
}

.map {
    margin: 23px 0 13px;
}

.links {
    margin: 24px 0 66px;
    padding: 0;
}

.links li {
    margin-bottom: 1.1em;
}

.about {
    background-color: #2b2b2b;
    padding: 5px 10px 10px;
    color: #bebebe;
    /*border: 1px solid red;*/
    text-indent: 15px; /* 缩进 */
}

.about img {
    border: 5px solid #bebebe;

}

.nav-main {
    border-top: 5px solid #019443;
    border-bottom: 1px solid #c8c8c8;
    padding: 7px 0 8px;
}

.nav-main li {
    border-left: 1px solid #c8c8c8;
    display: inline-block;
}

.nav-main li:first-child {
    border-left: none;
}

.nav-main a {
    color: #292929;
    display: inline-block;
    /*font-size: 18px;*/
    font-size: 1.125em;
    font-weight: 700;
    /*padding: 9px 20.7px 9px 25.2px;*/
    padding: .5em 1.15em .5em 1.4em;
    cursor: pointer;
}

.about h2,.mod h2 {
    font-size: 0.875em;
}

.about h2,.mod h2,.nav-main a {
    font-weight: 700;
}

.mod h2 {
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: .75em;
}

.links {
    padding-left: 0;
    width: 270px;
}

.post-footer {
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding-bottom: 7.7px;
    padding-top: 7.7px;
    clear: left;
}

.post-photo {
    float: left;
    margin-bottom: 2px;
    margin-right: 22px;
}

.logo {
    width: 25px;
    height: 25px;
}

.footer p {
    font-size: 11px;
}

footer[role="contentinfo"] {
    border-top: 1px solid #cacbcb;
}

/* 让浮动元素的父元素“自清除” */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* 让浮动元素的父元素“自清除” */