body {
    font: 100%/1.2 Serif;
    margin: 0;
    background:url(../../img/login_bg_0.jpg) #f8f6e9 0 0 no-repeat;
    background-size: cover;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.sign {
    width: 477px;
    height: 479px;
    background:url(../../img/login_bg.png) no-repeat;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -239px;
    margin-left: -238px;
}

.sign-head {
    margin: 0 auto;
    padding-top: 30px;
    width: 120px;
}

.form-sign {
    max-width: 330px;
    padding: 35px 15px 15px 15px;
    margin: 0 auto;
}

.form-sign .checkbox {
    /*margin-bottom: 10px;*/
    font-weight: normal;
}

.form-sign .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}

.form-sign .form-control:focus {
    z-index: 2;
}

.form-sign input[type="text"] {
    /*margin-bottom: 14px;*/
    border-radius: 0;
    background: url(../../img/login_user.png) 0 0 #ccc no-repeat;
    padding-left:60px;
    color: #fff;
}

.form-sign input[type="password"]{
    /*margin-bottom: 10px;*/
    border-radius: 0;
    background: url(../../img/login_pas.png) 0 0 #ccc no-repeat;
    padding-left: 60px;
    color: #fff;
}

.form-sign button {
    border-radius: 0;
    /*margin-bottom: 10px;*/
}

.form-sign input[type="checkbox"] {
    margin-right: 5px;
}