

#kwicks {
    width: 900px;
    overflow-x: hidden;
}

#kwicks:hover li a {
    width: 100px;
}

#kwicks li {
    float: left;
    overflow-x: hidden;
    display: block;
}

#kwicks li:hover a {
    width: 400px !important;
}

#kwicks li a {
    display: block;
    text-indent: -9999px;
    width: 134px;
    height: 143px;
    transition-property: width;
    transition-duration: 1s;
    border: 1px solid #ff6914;
    -webkit-transition-property: width;
    -webkit-transition-duration: .5s;
}

.photo1 {
    background: url(../../img/6.png) no-repeat 0;
}

.photo2{
    background: url(../../img/6.png) no-repeat 0;
}

.photo3 {
    background: url(../../img/6.png) no-repeat 0;
}

.photo4 {
    background: url(../../img/6.png) no-repeat 0;
}