#kwicks {
    width: 590px;
    overflow-x: hidden;
}

#kwicks:hover li a {
    width: 100px;
}

#kwicks li {
    float: left;
    overflow-x: hidden;
    display: block;
}

#kwicks li:hover a {
    width: 258px !important;
}