body {
    /*background-color: #88b2d2;*/
    /*background-image: url(../../img/1.jpg);*/
    /*background-repeat:no-repeat;*/
    /*background-position: center top;*/
    /*background-attachment: scroll;*/
    background: #88b2d2 url(../../img/1.jpg) no-repeat 170px 20px;  //背景
    /*color: greenyellow;*/
    /*background-size: 450px 450px;*/
    font-size: 100%;
}

h1,h2 {
    background-color: #7d717c;
    /*对齐文本*/
    text-align: justify;
}

#chapter p {
    display: block;
    /*设置字体颜色*/
    color: #e10000;
    /*padding: 1px 1.875em .7em;*/
    /*设置行高*/
    line-height: 1.65;
    /*添加缩进*/
    text-indent: 1em;
    /*设置字间距*/
    /*letter-spacing: 5px;*/
    /*设置字偶距*/
    /*word-spacing: 5px;*/
    /*修改文本的大小写*/
    text-transform: capitalize;
    /*使用小型大写字母*/
    font-variant: none;
    /*装饰文本*/
    text-decoration: none;
    /*设置空白属性*/
    white-space: normal;
}

#answer1 {
    font-size: 1.125em;
    color: lime;
    text-shadow: 3px 2px 2px black;

}